@use "../variables/variables"
    
.projects
    background: variables.$background-secondary
    border: solid 1px #d7d7d7
    border-radius: 10px

    .btnHomePage-title
        display: flex
        justify-content: center
        align-items: center
        border-bottom: 1px solid #d7d7d7
        background: variables.$background-secondary
        border-radius: 10px 10px 0px 0px 
        margin-bottom: 10px

        h3
            border: solid 1px 1px 0px 0px  #d7d7d7
            border-radius: 10px 10px 0px 0px 
            width: 100%
            font-size: 1.5rem
            color: variables.$font-color-secondary
            background: variables.$background-secondary
            padding: 20px
        
        button
                width: 150px
                border: 1px solid #d7d7d7
                border-radius: 5px
                padding: 8px 15px 
                margin-left: 10px     
                display: flex
                justify-content: center
                align-items: center

                &:hover
                    cursor: pointer
                    border: 1px solid #000
                    box-shadow: 0 3px 2px #0000002a
                    transition: .2s
    
    section
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 10px
        background: variables.$background-secondary



@media screen and (max-width: 450px)

    .projects

        .btnHomePage-title
            flex-direction: column-reverse
            
            button
                margin-bottom: 10px
                width: 80%
    