@use '../variables/variables'

.container
    display: flex
    flex-direction: column
    width: 50vw
    border: solid 1px #000000cc

    @media screen and (max-width: 450px)
        width: 80vw

    .user-info
        display: flex
        justify-content: flex-start
        align-items: center
        width: 100%

        .container-img
            display: flex
            justify-content: center
            align-items: center 
            width: 50%
            margin: 10px
            border-radius: 100%
            border: solid 3px variables.$border-img

            img
                width: 100%
                border-radius: 100%
